<div class="w-full">
    <div class="flex justify-between md:w-5/6 mx-auto items-center mt-6 md:mt-12">

        <div class=" text-4xl font-bold cursor-pointer dark:text-white">TicketManager</div>

        <label class="mt-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" (change)="toggleTheme()" value="" [(ngModel)]="darkMode" class="sr-only peer"
                   checked>
            <div
                class="relative w-16 h-8 bg-gray-200 rounded-full peer dark:bg-green-600 peer-focus:ring-4
                    peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-[2.3rem]
                    peer-checked:after:border-white after:absolute after:top-1 after:start-[2px]
                  after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-green-600">
            </div>
        </label>

    </div>
</div>
